<div class ="cotainer">
    <div class="row">
      <div class="col-mod-5">
       <div class="card">
        <div class="text-center">
          <h1>Signup</h1>
           <h6>Register here</h6>
  </div>
      <form>
        <form>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Full Name</label>
                 <input type="text" class="form-control" id="exampleInputPassword1">
               </div>
               <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">Mobile number</label>
                 <input type="number" class="form-control" id="exampleInputPassword1">
               </div>
          <div class="mb-3">
                <label for="exampleUsername1" class="form-label">Username</label>
                <input type="Username" class="form-control" id="exampleInputUserId1" aria-describedby="emailHelp">
               <div id="UserIdHelp" class="form-text"></div>
          </div>
          
                <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">Password</label>
                 <input type="password" class="form-control" id="exampleInputPassword1">
               </div>
          <button mat-button-raised type="signup" class="btn btn-primary">Signup</button>
          <a routerLink="/login">Already registered?Click to login </a>
        </form>
      </form>
    </div>
      </div>
        </div>
           </div>